<script id="Main_template" type="text/html">
  <div id="main">
    <div id="SearchForm_placeholder" class="placeholder" />
    <div id="Settings_placeholder" class="placeholder" />
    <div id="Notice_placeholder" class="placeholder" />
    <div id="SentencesTable_placeholder" class="placeholder" />
    <div id="Paginatable_placeholder" class="placeholder" />
  </div>
</script>
