<script id="Paginatable_template" type="text/html">
  <div id="paginatable">
    {{ if(info.pages > 1) { }}
      {{ if(true) { }}
        <a id="p_previous" class='{{= info.prev ? "" : "hidden_" }}' href="#" accesskey="P">
          <span class="accesskey">P</span>revious
        </a>
      {{ } }}

        <select id="p_selection" accesskey="J">
        {{ for(i=1;i<=info.pages;i++) { }}
          <option {{= info.page === i ? "selected" : "" }} value={{= i }}>Page #{{= i }}</option>
        {{ } }}
        </select> 

      {{ if(info.next) { }}
        <a id="p_next" class='{{= info.next ? "" : "hidden_" }}' href="#" accesskey="N"><span class="accesskey">N</span>ext</a>
      {{ } }}
    {{ } }}
  </div>
</script>
