<script id="SearchForm_template" type="text/html">
  <form id="search_form">
    <input id="search_string" type="search" accesskey="S"></input>
    <input type="submit" value="Submit"></input>
  </form>
</script>
