<script id="SentencesTable_template" type="text/html">
  <div id="sentences_table">
  {{ collection.each(function(s) { }}
    <div class='sentence_pair'> 
      <div class='row'>
        <div class='sentence hanyu span10'>{{= s.get("hanyu") }}</div>
        <div class="span2"><a class="hiding" href='#'>{{= show_english ? '-' : '+' }}</a></div>
      </div>
      <div {{= show_english ? '' : 'style="display:none"' }} class='row'>
        <div class='sentence english span10'>{{= s.get("english") }}</div>
      </div>
    </div>
  {{ }); }}
  </div>
</script>
