<script id="Settings_template" type="text/html">
  <div id="settings" class="alert">
    <input type="checkbox" id="show_english" {{= model.show_english ? 'checked="checked"'  : "" }} accesskey="H">
      S<span class="accesskey">h</span>ow English <a class="help_icon" href="#">?</a>
    </input>
  </div>
  <hr>
</script>
