<%= render partial: 'us/main.us' %>
<%= render partial: 'us/search_form.us' %>
<%= render partial: 'us/settings.us' %>
<%= render partial: 'us/notice.us' %>
<%= render partial: 'us/sentences_table.us' %>
<%= render partial: 'us/paginatable.us' %>

<div id="Main_placeholder" class="placeholder" ></div>
