/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require paginatable
 *= require sentences_table
 *= require settings
 *= require jquery_ui/css/ui-lightness/jquery-ui-1.8.22.custom
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap/alerts";

body { margin: 1em 3em; }

.placeholder { display: none; }
.dismissable {
  float: right;
  color: #B94A48;
}

.accesskey {
  text-decoration: underline;
  font-weight: bold;
}

.hidden_ {
  visibility: hidden;
}
